<div class="container">
<h1>Create a post:</h1>

<form action="/" method="POST">
<p><label>Title:
<input type="text" name="post[title]">
</label></p>
<p><label>Content:
<br><textarea name="post[content]" rows="3" cols="15"></textarea>	
</label></p>
<p><input type="submit" value="Post"></p>

</form>
</div>